<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:security="http://www.springframework.org/schema/c"
             xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:bean id="myUserDetailsService" class="com.mycompany.service.AuthenticationService"/>

    <authentication-manager>
        <authentication-provider
                user-service-ref="myUserDetailsService" >
        </authentication-provider>
    </authentication-manager>

    <http pattern="/resources/**" security="none" />
    
    <!-- enable use-expressions -->
    <http use-expressions="true">

        <intercept-url pattern="/**" access="permitAll" />
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
        <!-- access denied page -->
        <access-denied-handler error-page="/403" />
		
        <form-login 
            login-page="/login" 
            default-target-url="/admin/customer/list" 
            authentication-failure-url="/login?error" 
            username-parameter="username"
            password-parameter="password" />

        <logout logout-success-url="/login?logout"  />

    </http>


</beans:beans >
